<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sqmy.dao.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.sqmy.model.Category" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="first_category" property="firstCategory" jdbcType="VARCHAR" />
    <result column="second_category" property="secondCategory" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, first_category, second_category
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sqmy.model.Category" >
    insert into category (id, first_category, second_category
      )
    values (#{id,jdbcType=INTEGER}, #{firstCategory,jdbcType=VARCHAR}, #{secondCategory,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sqmy.model.Category" >
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="firstCategory != null" >
        first_category,
      </if>
      <if test="secondCategory != null" >
        second_category,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="firstCategory != null" >
        #{firstCategory,jdbcType=VARCHAR},
      </if>
      <if test="secondCategory != null" >
        #{secondCategory,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sqmy.model.Category" >
    update category
    <set >
      <if test="firstCategory != null" >
        first_category = #{firstCategory,jdbcType=VARCHAR},
      </if>
      <if test="secondCategory != null" >
        second_category = #{secondCategory,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sqmy.model.Category" >
    update category
    set first_category = #{firstCategory,jdbcType=VARCHAR},
      second_category = #{secondCategory,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>