<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sqmy.dao.SubmitInfoMapper" >
  <resultMap id="BaseResultMap" type="com.sqmy.model.SubmitInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="infor_categories" property="inforCategories" jdbcType="VARCHAR" />
    <result column="unit_id" property="unitId" jdbcType="INTEGER" />
    <result column="urgency_level" property="urgencyLevel" jdbcType="VARCHAR" />
    <result column="info_sources" property="infoSources" jdbcType="VARCHAR" />
    <result column="reporter" property="reporter" jdbcType="VARCHAR" />
    <result column="attachment_address" property="attachmentAddress" jdbcType="VARCHAR" />
    <result column="submit_time" property="submitTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sqmy.model.SubmitInfoWithBLOBs" extends="BaseResultMap" >
    <result column="note" property="note" jdbcType="LONGVARCHAR" />
    <result column="main_body" property="mainBody" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, infor_categories, unit_id, urgency_level, info_sources, reporter, attachment_address, 
    submit_time, state
  </sql>
  <sql id="Blob_Column_List" >
    note, main_body
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from submit_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from submit_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sqmy.model.SubmitInfoWithBLOBs" >
    insert into submit_info (id, title, infor_categories, 
      unit_id, urgency_level, info_sources, 
      reporter, attachment_address, submit_time, 
      state, note, main_body
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{inforCategories,jdbcType=VARCHAR}, 
      #{unitId,jdbcType=INTEGER}, #{urgencyLevel,jdbcType=VARCHAR}, #{infoSources,jdbcType=VARCHAR}, 
      #{reporter,jdbcType=VARCHAR}, #{attachmentAddress,jdbcType=VARCHAR}, #{submitTime,jdbcType=TIMESTAMP}, 
      #{state,jdbcType=VARCHAR}, #{note,jdbcType=LONGVARCHAR}, #{mainBody,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sqmy.model.SubmitInfoWithBLOBs" >
    insert into submit_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="inforCategories != null" >
        infor_categories,
      </if>
      <if test="unitId != null" >
        unit_id,
      </if>
      <if test="urgencyLevel != null" >
        urgency_level,
      </if>
      <if test="infoSources != null" >
        info_sources,
      </if>
      <if test="reporter != null" >
        reporter,
      </if>
      <if test="attachmentAddress != null" >
        attachment_address,
      </if>
      <if test="submitTime != null" >
        submit_time,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="note != null" >
        note,
      </if>
      <if test="mainBody != null" >
        main_body,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="inforCategories != null" >
        #{inforCategories,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null" >
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="urgencyLevel != null" >
        #{urgencyLevel,jdbcType=VARCHAR},
      </if>
      <if test="infoSources != null" >
        #{infoSources,jdbcType=VARCHAR},
      </if>
      <if test="reporter != null" >
        #{reporter,jdbcType=VARCHAR},
      </if>
      <if test="attachmentAddress != null" >
        #{attachmentAddress,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=LONGVARCHAR},
      </if>
      <if test="mainBody != null" >
        #{mainBody,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sqmy.model.SubmitInfoWithBLOBs" >
    update submit_info
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="inforCategories != null" >
        infor_categories = #{inforCategories,jdbcType=VARCHAR},
      </if>
      <if test="unitId != null" >
        unit_id = #{unitId,jdbcType=INTEGER},
      </if>
      <if test="urgencyLevel != null" >
        urgency_level = #{urgencyLevel,jdbcType=VARCHAR},
      </if>
      <if test="infoSources != null" >
        info_sources = #{infoSources,jdbcType=VARCHAR},
      </if>
      <if test="reporter != null" >
        reporter = #{reporter,jdbcType=VARCHAR},
      </if>
      <if test="attachmentAddress != null" >
        attachment_address = #{attachmentAddress,jdbcType=VARCHAR},
      </if>
      <if test="submitTime != null" >
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
      <if test="mainBody != null" >
        main_body = #{mainBody,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sqmy.model.SubmitInfoWithBLOBs" >
    update submit_info
    set title = #{title,jdbcType=VARCHAR},
      infor_categories = #{inforCategories,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=INTEGER},
      urgency_level = #{urgencyLevel,jdbcType=VARCHAR},
      info_sources = #{infoSources,jdbcType=VARCHAR},
      reporter = #{reporter,jdbcType=VARCHAR},
      attachment_address = #{attachmentAddress,jdbcType=VARCHAR},
      submit_time = #{submitTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR},
      note = #{note,jdbcType=LONGVARCHAR},
      main_body = #{mainBody,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sqmy.model.SubmitInfo" >
    update submit_info
    set title = #{title,jdbcType=VARCHAR},
      infor_categories = #{inforCategories,jdbcType=VARCHAR},
      unit_id = #{unitId,jdbcType=INTEGER},
      urgency_level = #{urgencyLevel,jdbcType=VARCHAR},
      info_sources = #{infoSources,jdbcType=VARCHAR},
      reporter = #{reporter,jdbcType=VARCHAR},
      attachment_address = #{attachmentAddress,jdbcType=VARCHAR},
      submit_time = #{submitTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>