<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sqmy.dao.TbScoreMapper" >
  <resultMap id="BaseResultMap" type="com.sqmy.model.TbScore" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="primary_id" property="primaryId" jdbcType="INTEGER" />
    <result column="audit_id" property="auditId" jdbcType="INTEGER" />
    <result column="score_unit_id" property="scoreUnitId" jdbcType="INTEGER" />
    <result column="score_time" property="scoreTime" jdbcType="TIMESTAMP" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="cppcc_id" property="cppccId" jdbcType="INTEGER" />
    <result column="caiyong_unit_id" property="caiyongUnitId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, primary_id, audit_id, score_unit_id, score_time, score, cppcc_id, caiyong_unit_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_score
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_score
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sqmy.model.TbScore" >
    insert into tb_score (id, primary_id, audit_id, 
      score_unit_id, score_time, score, 
      cppcc_id, caiyong_unit_id)
    values (#{id,jdbcType=INTEGER}, #{primaryId,jdbcType=INTEGER}, #{auditId,jdbcType=INTEGER}, 
      #{scoreUnitId,jdbcType=INTEGER}, #{scoreTime,jdbcType=TIMESTAMP}, #{score,jdbcType=INTEGER}, 
      #{cppccId,jdbcType=INTEGER}, #{caiyongUnitId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sqmy.model.TbScore" >
    insert into tb_score
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="primaryId != null" >
        primary_id,
      </if>
      <if test="auditId != null" >
        audit_id,
      </if>
      <if test="scoreUnitId != null" >
        score_unit_id,
      </if>
      <if test="scoreTime != null" >
        score_time,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="cppccId != null" >
        cppcc_id,
      </if>
      <if test="caiyongUnitId != null" >
        caiyong_unit_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="primaryId != null" >
        #{primaryId,jdbcType=INTEGER},
      </if>
      <if test="auditId != null" >
        #{auditId,jdbcType=INTEGER},
      </if>
      <if test="scoreUnitId != null" >
        #{scoreUnitId,jdbcType=INTEGER},
      </if>
      <if test="scoreTime != null" >
        #{scoreTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="cppccId != null" >
        #{cppccId,jdbcType=INTEGER},
      </if>
      <if test="caiyongUnitId != null" >
        #{caiyongUnitId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sqmy.model.TbScore" >
    update tb_score
    <set >
      <if test="primaryId != null" >
        primary_id = #{primaryId,jdbcType=INTEGER},
      </if>
      <if test="auditId != null" >
        audit_id = #{auditId,jdbcType=INTEGER},
      </if>
      <if test="scoreUnitId != null" >
        score_unit_id = #{scoreUnitId,jdbcType=INTEGER},
      </if>
      <if test="scoreTime != null" >
        score_time = #{scoreTime,jdbcType=TIMESTAMP},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="cppccId != null" >
        cppcc_id = #{cppccId,jdbcType=INTEGER},
      </if>
      <if test="caiyongUnitId != null" >
        caiyong_unit_id = #{caiyongUnitId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sqmy.model.TbScore" >
    update tb_score
    set primary_id = #{primaryId,jdbcType=INTEGER},
      audit_id = #{auditId,jdbcType=INTEGER},
      score_unit_id = #{scoreUnitId,jdbcType=INTEGER},
      score_time = #{scoreTime,jdbcType=TIMESTAMP},
      score = #{score,jdbcType=INTEGER},
      cppcc_id = #{cppccId,jdbcType=INTEGER},
      caiyong_unit_id = #{caiyongUnitId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>